# constants.php includes sensitive database keys/passwords
# it should NEVER be uploaded to GitHub

# --- credentials ---
**/ajax/constants.php
**/ajax/constants/
**/google4cb09ae7ae2edb25.html
.env

# --- user generated content ---
**/acc/users/
**/cre/
**/com/old/

# --- old files ---
**/index_old.php
**/header_new.php
**/feed.php
**/aprilfools.html
**/chart.php
**/rules.php
**/list_old.php
**/navbar_new.php
**/oops.html

# --- don't sue me ---
**/lib/Michelf
**/lib/phpmailer
